{% extends "../base.html" %}
{% block title %}CS{% endblock %}
{% block content %}

<div class="container-fluid">
    <h4>Datos Contraloria Social</h4>
    <h5>{{ escuela.cct }} - {{ escuela.nombre }}</h5>
    <hr>
    <div class="row-fluid">
        <div class="widget-box">
            <div class="widget-title bg_lo" data-toggle="collapse" href="#collapseG3">
                <span class="icon">
                    <i class="icon-chevron-down"></i>
                </span>
                <h5> Detalles Generales</h5>
            </div>
            <div class="widget-content nopadding updates collapse in" id="collapseG3">
                <div class="new-update clearfix">
                    <div class="span12">
                        <div class="span4">
                            <span class="s1">C.C.T.:</span>
                            <span class="s2">{{ escuela.cct }}</span>
                        </div>
                        <div class="span4">
                            <span class="s1">{{ escuela.nombre }}</span>
                        </div>
                        <div class="span4">
                            <span class="s1">Fecha de Actualización:</span>
                            <span class="s2">{{ escuela.actualizacion }}</span>
                        </div>
                    </div>
                </div>
                <div class="new-update clearfix">
                    <div class="span12">
                        <div class="span4">
                            <span class="s1">Componente:</span>
                            <span class="s2">{{ escuela.componente }}</span>
                        </div>
                        <div class="span4">
                            <span class="s1">Acción:</span>
                            <span class="s2">{{ escuela.accion }}</span>
                        </div>
                        <div class="span4">
                            <span class="s1">Cambio de Componente:</span>
                            <span class="s2">{{ escuela.cambio_accion }}</span>
                        </div>
                    </div>
                </div>
                <div class="new-update clearfix">
                    <div class="span12">
                        <div class="span4">
                            <span class="s1">Monto Asignado:</span>
                            <span class="s2" id="monto_asignado">$ {{ escuela.monto_asignado }}</span>
                        </div>
                        <div class="span4">
                            <span class="s1">Monto Ejercido:</span>
                            <span class="s2" id="monto_ejercido">$ {{ escuela.monto_ejercido }}</span>
                        </div>
                        <div class="span4">
                            <span class="s1">Monto Restante:</span>
                            <span class="s2">$ {{ escuela.monto_restante}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="widget-box">
            <div class="widget-title">
                <span class="icon"><i class="icon-align-justify"></i> </span>
                <h5>Detalles Contraloria Social</h5>
            </div>
            <form action="" method="post" class="form-horizontal" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="new-update clearfix">
                    <div class="control-group">
                        <div class="widget-box">
                            <div class="widget-title bg_lo" data-toggle="collapse" href="#collapseInicio">
                                <span class="icon">
                                    <i class="icon-chevron-down"></i>
                                </span>
                                <div>
                                    <h5>Documentación Constitución</h5>
                                    <span class="badge badge-warning"> Estatus: {{ contraloria.constitucion }} </span>
                                    <span class="badge badge-success"> {{ fecha.fecha_constitucion }} </span>
                                </div>
                            </div>
                            <div action="" role="form" class="widget-content nopadding updates collapse out"
                                 id="collapseInicio">
                                <div class="new-update clearfix">
                                    <div class="span12">
                                        <span class="s1">
                                            Fecha de Entrega de la Documentación de Actas de Constitucion en la Coordinación del PRE:
                                        </span>
                                        <span class="label label-success">{{ fecha.fecha_constitucion }}</span>
                                    </div>
                                </div>
                                <div class="new-update clearfix">
                                    <div class="span12">
                                        <div class="span6">
                                            <span class="s1">{{ formC.estatusC.label }}</span>
                                            {{ formC.estatusC }}
                                        </div>
                                    </div>
                                </div>
                                <div class="new-update clearfix">
                                    <div class="widget-content nopadding inner">
                                        <table class="table table-bordered data-table">
                                            <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Estatus</th>
                                                <th>Archivo</th>
                                                <th>Observaciones</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td><span class="s1">{{ formC.actaC.label }}</span></td>
                                                <td>{{ formC.actaC }}</td>
                                                <td>{{ formC.acta_CArchivo }}</td>
                                                <td>{{ formC.acta_CObservacion }}</td>
                                            </tr>
                                            <tr>
                                                <td><span class="s1">{{ formC.minutaC.label }}</span></td>
                                                <td>{{ formC.minutaC }}</td>
                                                <td>{{ formC.minuta_CArchivo }}</td>
                                                <td>{{ formC.minuta_CObservacion }}</td>
                                            </tr>
                                            <tr>
                                                <td><span class="s1">{{ formC.listaC.label }}</span></td>
                                                <td>{{ formC.listaC }}</td>
                                                <td>{{ formC.lista_CArchivo }}</td>
                                                <td>{{ formC.lista_CObservacion }}</td>
                                            </tr>
                                            <tr>
                                                <td><span class="s1">{{ formC.fotoC.label }}</span></td>
                                                <td>{{ formC.fotoC }}</td>
                                                <td>{{ formC.foto_CArchivo }}</td>
                                                <td>{{ formC.foto_CObservacion }}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="new-update clearfix">
                                    <div class="span12">
                                        <div class="span8">
                                            <span class="s1">{{ formC.cdC.label }}</span>
                                            {{ formC.cdC }}
                                        </div>
                                    </div>
                                </div>
                                <div class="new-update clearfix">
                                    <div class="span12">
                                        <div class="span12">
                                            <span class="s1">{{ formC.pdfC.label }}</span>
                                            {{ formC.pdfC }}
                                        </div>
                                    </div>
                                </div>
                                <div class="new-update clearfix">
                                    <div class="span12">
                                        <div class="span12">
                                            <span class="s1">{{ formC.observacionC.label }}</span>
                                            {{ formC.observacionC }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="new-update clearfix">
                    <div class="control-group">
                        <div class="widget-box">
                            <div class="widget-title bg_lo" data-toggle="collapse" href="#collapseSeguimiento">
                                <span class="icon">
                                    <i class="icon-chevron-down"></i>
                                </span>
                                <div>
                                    <h5>Documentación Seguimiento</h5>
                                    <span class="badge badge-warning"> Estatus: {{ contraloria.cedula }} </span>
                                    <span class="badge badge-success"> {{ fecha.fecha_seguimientoC }} </span>
                                </div>
                            </div>
                            <div action="" role="form" class="widget-content nopadding updates collapse out"
                                 id="collapseSeguimiento">
                                <div class="new-update clearfix">
                                    <div class="span12">
                                        <span class="s1">
                                            Fecha de Entrega de la Documentación de Actas de Seguimiento en la Coordinación del PRE:
                                        </span>
                                        <span class="label label-success">{{ fecha.fecha_seguimientoC }}</span>
                                    </div>
                                </div>
                                <div class="new-update clearfix">
                                    <div class="span12">
                                        <div class="span6">
                                            <span class="s1">{{ formCe.estatusCe.label }}</span>
                                            {{ formCe.estatusCe }}
                                        </div>
                                    </div>
                                </div>
                                <div class="new-update clearfix">
                                    <div class="widget-content nopadding inner">
                                        <table class="table table-bordered data-table">
                                            <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Estatus</th>
                                                <th>Archivo</th>
                                                <th>Observaciones</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td><span class="s1">{{ formCe.actaCe.label }}</span></td>
                                                <td>{{ formCe.actaCe }}</td>
                                                <td>{{ formCe.acta_CeArchivo }}</td>
                                                <td>{{ formCe.acta_CeObservacion }}</td>
                                            </tr>
                                            <tr>
                                                <td><span class="s1">{{ formCe.minutaCe.label }}</span></td>
                                                <td>{{ formCe.minutaCe }}</td>
                                                <td>{{ formCe.minuta_CeArchivo }}</td>
                                                <td>{{ formCe.minuta_CeObservacion }}</td>
                                            </tr>
                                            <tr>
                                                <td><span class="s1">{{ formCe.listaCe.label }}</span></td>
                                                <td>{{ formCe.listaCe }}</td>
                                                <td>{{ formCe.lista_CeArchivo }}</td>
                                                <td>{{ formCe.lista_CeObservacion }}</td>
                                            </tr>
                                            <tr>
                                                <td><span class="s1">{{ formCe.fotoCe.label }}</span></td>
                                                <td>{{ formCe.fotoCe }}</td>
                                                <td>{{ formCe.foto_CeArchivo }}</td>
                                                <td>{{ formCe.foto_CeObservacion }}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="new-update clearfix">
                                    <div class="span12">
                                        <div class="span8">
                                            <span class="s1">{{ formCe.cdCe.label }}</span>
                                            {{ formCe.cdCe }}
                                        </div>
                                    </div>
                                </div>
                                <div class="new-update clearfix">
                                    <div class="span12">
                                        <div class="span12">
                                            <span class="s1">{{ formCe.pdfCe.label }}</span>
                                            {{ formCe.pdfCe }}
                                        </div>
                                    </div>
                                </div>
                                <div class="new-update clearfix">
                                    <div class="span12">
                                        <div class="span12">
                                            <span class="s1">{{ formCe.observacionCe.label }}</span>
                                            {{ formCe.observacionCe }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="new-update clearfix">
                    <div class="control-group">
                        <div class="widget-box">
                            <div class="widget-title bg_lo" data-toggle="collapse" href="#collapseAnual">
                                <span class="icon">
                                    <i class="icon-chevron-down"></i>
                                </span>
                                <div>
                                    <h5>Documentación Anual</h5>
                                    <span class="badge badge-warning"> Estatus: {{ contraloria.anual }} </span>
                                    <span class="badge badge-success"> {{ fecha.fecha_anual }} </span>
                                </div>
                            </div>
                            <div action="" role="form" class="widget-content nopadding updates collapse out"
                                 id="collapseAnual">
                                <div class="new-update clearfix">
                                    <div class="span12">
                                        <span class="s1">
                                            Fecha de Entrega de la Documentación de Actas Informe Anual en la Coordinación del PRE:
                                        </span>
                                        <span class="label label-success">{{ fecha.fecha_anual }}</span>
                                    </div>
                                </div>
                                <div class="new-update clearfix">
                                    <div class="span12">
                                        <div class="span6">
                                            <span class="s1">{{ formA.estatusA.label }}</span>
                                            {{ formA.estatusA }}
                                        </div>
                                    </div>
                                </div>
                                <div class="new-update clearfix">
                                    <div class="widget-content nopadding inner">
                                        <table class="table table-bordered data-table">
                                            <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Estatus</th>
                                                <th>Archivo</th>
                                                <th>Observaciones</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td><span class="s1">{{ formA.actaA.label }}</span></td>
                                                <td>{{ formA.actaA }}</td>
                                                <td>{{ formA.acta_AArchivo }}</td>
                                                <td>{{ formA.acta_AObservacion }}</td>
                                            </tr>
                                            <tr>
                                                <td><span class="s1">{{ formA.minutaA.label }}</span></td>
                                                <td>{{ formA.minutaA }}</td>
                                                <td>{{ formA.minuta_AArchivo }}</td>
                                                <td>{{ formA.minuta_AObservacion }}</td>
                                            </tr>
                                            <tr>
                                                <td><span class="s1">{{ formA.listaA.label }}</span></td>
                                                <td>{{ formA.listaA }}</td>
                                                <td>{{ formA.lista_AArchivo }}</td>
                                                <td>{{ formA.lista_AObservacion }}</td>
                                            </tr>
                                            <tr>
                                                <td><span class="s1">{{ formA.fotoA.label }}</span></td>
                                                <td>{{ formA.fotoA }}</td>
                                                <td>{{ formA.foto_AArchivo }}</td>
                                                <td>{{ formA.foto_AObservacion }}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="new-update clearfix">
                                    <div class="span12">
                                        <div class="span8">
                                            <span class="s1">{{ formA.cdA.label }}</span>
                                            {{ formA.cdA }}
                                        </div>
                                    </div>
                                </div>
                                <div class="new-update clearfix">
                                    <div class="span12">
                                        <div class="span12">
                                            <span class="s1">{{ formA.pdfA.label }}</span>
                                            {{ formA.pdfA }}
                                        </div>
                                    </div>
                                </div>
                                <div class="new-update clearfix">
                                    <div class="span12">
                                        <div class="span12">
                                            <span class="s1">{{ formA.observacionA.label }}</span>
                                            {{ formA.observacionA }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="new-update clearfix">
                    <div class="span12">
                        <div class="new">
                            <button class="btn btn-success">Guardar</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock%}