{% extends "../base.html" %}
{% block title %}General{% endblock %}
{% block content %}

<div class="container-fluid">
    <h4>Datos SiSPRE</h4>
    <h5>{{ escuela.cct }} - {{ escuela.nombre }}</h5>
    <hr>
    <div class="row-fluid">
        <div class="widget-box">
            <div class="widget-title bg_lo" data-toggle="collapse" href="#collapseG3">
                <span class="icon">
                    <i class="icon-chevron-down"></i>
                </span>
                <h5> Detalles Generales</h5>
            </div>
            <div class="widget-content nopadding updates collapse in" id="collapseG3">
                <div class="new-update clearfix">
                    <div class="span12">
                        <div class="span4">
                            <span class="s1">C.C.T.:</span>
                            <span class="s2">{{ escuela.cct }}</span>
                        </div>
                        <div class="span4">
                            <span class="s1">{{ escuela.nombre }}</span>
                        </div>
                        <div class="span4">
                            <span class="s1">Fecha de Actualización:</span>
                            <span class="s2">{{ escuela.actualizacion }}</span>
                        </div>
                    </div>
                </div>
                <div class="new-update clearfix">
                    <div class="span12">
                        <div class="span4">
                            <span class="s1">Componente:</span>
                            <span class="s2">{{ escuela.componente }}</span>
                        </div>
                        <div class="span4">
                            <span class="s1">Acción:</span>
                            <span class="s2">{{ escuela.accion }}</span>
                        </div>
                        <div class="span4">
                            <span class="s1">Cambio de Componente:</span>
                            <span class="s2">{{ escuela.cambi_comp }}</span>
                        </div>
                    </div>
                </div>
                <div class="new-update clearfix">
                    <div class="span12">
                        <div class="span4">
                            <span class="s1">Monto Asignado:</span>
                            <span class="s2" id="monto_asignado">$ {{ escuela.monto_asignado }}</span>
                        </div>
                        <div class="span4">
                            <span class="s1">Monto Ejercido:</span>
                            <span class="s2" id="monto_ejercido">$ {{ escuela.monto_ejercido }}</span>
                        </div>
                        <div class="span4">
                            <span class="s1">Monto Restante:</span>
                            <span class="s2">$ {{ escuela.monto_restante}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="widget-box">
            <div class="widget-title">
                <span class="icon"><i class="icon-align-justify"></i> </span>
                <h5>Detalles SiSPRE</h5>
            </div>
            <div class="widget-content nopadding">

                <div class="control-group">
                    <div class="controls">
                        <div class="span12">
                            <div class="actions span4" style="display: inline-block;">
                                <ul class="thumbnails">
                                    <li class="span12">
                                        <img src="{{ sispre.inicio.foto_fachada }}" alt="">
                                        <div class="actions">
                                            <a class="lightbox_trigger" href="assetsAdmin/img/gallery/imgbox3.jpg">
                                                <i class="icon-search"></i>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <div class="widget-box">
                        <div class="widget-title bg_lo" data-toggle="collapse" href="#collapseInicio">
										<span class="icon">
											<i class="icon-chevron-down"></i>
										</span>
                            <h5>Documentación de Inicio - {{ sispre.inicio }}</h5>
                        </div>
                        <div action="" role="form" class="widget-content nopadding updates collapse out"
                             id="collapseInicio">
                            <form method="POST" class="form-horizontal">
                                {% csrf_token %}
                                <div class="new-update clearfix">
                                    <div class="span12">
                                        <div class="span4">
                                            <div class="span1 checkCenter1">
                                                <span class="s1">{{ formI.acta_mancomunado.label }}</span>
                                            </div>
                                            <div class="span10 checkCenter2">
                                                {{ formI.acta_mancomunado.label }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="new-update clearfix">
                                    <div class="span12">
                                        <table class="table table-bordered table-striped">
                                            <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Estatus</th>
                                                <th>Archivo</th>
                                                <th>Observaciones</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td><span class="s1">{{ formI.acta_mancomunado.label }}</span></td>
                                                <td>{{ formI.acta_mancomunado }}</td>
                                                <td>{{ formI.acta_mArchivo }}</td>
                                                <td>{{ formI.acta_mObservacion }}</td>
                                            </tr>
                                            <tr>
                                                <td><span class="s1">{{ formI.constancia_cepse.label }}</span></td>
                                                <td>{{ formI.constancia_cepse }}</td>
                                                <td>{{ formI.constancia_cArchivo }}</td>
                                                <td>{{ formI.constancia_cObservacion }}</td>
                                            </tr>
                                            <tr>
                                                <td><span class="s1">{{ formI.acta_planeacion.label }}</span></td>
                                                <td>{{ formI.acta_planeacion }}</td>
                                                <td>{{ formI.acta_pArchivo }}</td>
                                                <td>{{ formI.acta_pObservacion }}</td>
                                            </tr>
                                            <tr>
                                                <td><span class="s1">{{ formI.acuse_banco.label }}</span></td>
                                                <td>{{ formI.acuse_banco }}</td>
                                                <td>{{ formI.acuse_bArchivo }}</td>
                                                <td>{{ formI.acuse_bObservacion }}</td>
                                            </tr>
                                            <tr>
                                                <td><span class="s1">{{ formI.acuse_prog.label }}</span></td>
                                                <td>{{ formI.acuse_prog }}</td>
                                                <td>{{ formI.acuse_pArchivo }}</td>
                                                <td>{{ formI.acuse_pObservacion }}</td>
                                            </tr>
                                            <tr>
                                                <td><span class="s1">{{ formI.acuse_prog_anterior.label }}</span></td>
                                                <td>{{ formI.acuse_prog_anterior }}</td>
                                                <td>{{ formI.acuse_prog_aArchivo }}</td>
                                                <td>{{ formI.acuse_prog_aObservacion }}</td>
                                            </tr>
                                            <tr>
                                                <td><span class="s1">{{ formI.compromiso_inmueble.label }}</span></td>
                                                <td>{{ formI.compromiso_inmueble }}</td>
                                                <td>{{ formI.compromiso_iArchivo }}</td>
                                                <td>{{ formI.compromiso_iObservacion }}</td>
                                            </tr>
                                            <tr>
                                                <td><span class="s1">{{ formI.compromiso_comunidad.label }}</span></td>
                                                <td>{{ formI.compromiso_comunidad }}</td>
                                                <td>{{ formI.compromiso_cArchivo }}</td>
                                                <td>{{ formI.compromiso_cObservacion }}</td>
                                            </tr>
                                            <tr>
                                                <td><span class="s1">{{ formI.contrato.label }}</span></td>
                                                <td>{{ formI.contrato }}</td>
                                                <td>{{ formI.contratoArchivo }}</td>
                                                <td>{{ formI.contratoObservacion }}</td>
                                            </tr>
                                            <tr>
                                                <td><span class="s1">{{ formI..label }}</span></td>
                                                <td>{{ formI. }}</td>
                                                <td>{{ formI. }}</td>
                                                <td>{{ formI. }}</td>
                                            </tr>
                                            <tr>
                                                <td><span class="s1">{{ formI.ife_plantel.label }}</span></td>
                                                <td>{{ formI.ife_plantel }}</td>
                                                <td>{{ formI.ife_pArchivo }}</td>
                                                <td>{{ formI.ife_pObservacion }}</td>
                                            </tr>
                                            <tr>
                                                <td><span class="s1">{{ formI.comision_director.label }}</span></td>
                                                <td>{{ formI.comision_director }}</td>
                                                <td>{{ formI.comision_dArchivo }}</td>
                                                <td>{{ formI.comision_dObservacion }}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div class="new-update clearfix">
                                    <div class="span12">
                                        <div class="new">
                                            <button class="btn btn-success">Guardar</button>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <div class="widget-box">
                        <div class="widget-title bg_lo" data-toggle="collapse" href="#collapseSeguim">
										<span class="icon">
											<i class="icon-chevron-down"></i>
										</span>
                            <h5>Documentación de seguimiento - {{ sispre.seguimiento }}</h5>
                        </div>
                        <div class="widget-content nopadding updates collapse out" id="collapseSeguim">
                            <div class="new-update clearfix">
                                <div class="span12">
                                    <div class="span4">
                                        <div class="span1 checkCenter1">
                                            <input type="checkbox"/>
                                        </div>
                                        <div class="span8 checkCenter2">
                                            <span class="s1">Acta de Seguimiento</span>
                                        </div>
                                    </div>
                                    <div class="span4">
                                        <div class="span1 checkCenter1">
                                            <input type="checkbox"/>
                                        </div>
                                        <div class="span8 checkCenter2">
                                            <span class="s1">Evidencias Fotográficas</span>
                                        </div>
                                    </div>
                                    <div class="span4">
                                        <div class="span1 checkCenter1">
                                            <input type="checkbox"/>
                                        </div>
                                        <div class="span8 checkCenter2">
                                            <span class="s1">Supervisión Técnica Comp. 1</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <div class="widget-box">
                        <div class="widget-title bg_lo" data-toggle="collapse" href="#collapseCierre">
										<span class="icon">
											<i class="icon-chevron-down"></i>
										</span>
                            <h5>Documentación de Cierre - {{ sispre.cierre }}</h5>
                        </div>
                        <div class="widget-content nopadding updates collapse out" id="collapseCierre">
                            <div class="new-update clearfix">
                                <div class="span12">
                                    <div class="span4">
                                        <div class="span1 checkCenter1">
                                            <input type="checkbox"/>
                                        </div>
                                        <div class="span8 checkCenter2">
                                            <span class="s1">Acta circunstanciada de hechos</span>
                                        </div>
                                    </div>
                                    <div class="span4">
                                        <div class="span1 checkCenter1">
                                            <input type="checkbox"/>
                                        </div>
                                        <div class="span8 checkCenter2">
                                            <span class="s1">Acta de cierre</span>
                                        </div>
                                    </div>
                                    <div class="span4">
                                        <div class="span1 checkCenter1">
                                            <input type="checkbox"/>
                                        </div>
                                        <div class="span8 checkCenter2">
                                            <span class="s1">Acta de entrega recepción del contratista</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="new-update clearfix">
                                <div class="span12">
                                    <div class="span4">
                                        <div class="span1 checkCenter1">
                                            <input type="checkbox"/>
                                        </div>
                                        <div class="span10 checkCenter2">
                                            <span class="s1">Acta de rendición de cuentas, fotos y lista de asistencia</span>
                                        </div>
                                    </div>
                                    <div class="span4">
                                        <div class="span1 checkCenter1">
                                            <input type="checkbox"/>
                                        </div>
                                        <div class="span10 checkCenter2">
                                            <span class="s1">Facturas impresas (firma y leyenda)</span>
                                        </div>
                                    </div>
                                    <div class="span4">
                                        <div class="span1 checkCenter1">
                                            <input type="checkbox"/>
                                        </div>
                                        <div class="span10 checkCenter2">
                                            <span class="s1">Ficha de reintegro</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="new-update clearfix">
                                <div class="span12">
                                    <div class="span4">
                                        <div class="span1 checkCenter1">
                                            <input type="checkbox"/>
                                        </div>
                                        <div class="span10 checkCenter2">
                                            <span class="s1">Formato de inventario</span>
                                        </div>
                                    </div>
                                    <div class="span4">
                                        <div class="span1 checkCenter1">
                                            <input type="checkbox"/>
                                        </div>
                                        <div class="span10 checkCenter2">
                                            <span class="s1">Formato de transferencia bancaria</span>
                                        </div>
                                    </div>
                                    <div class="span4">
                                        <div class="span1 checkCenter1">
                                            <input type="checkbox"/>
                                        </div>
                                        <div class="span10 checkCenter2">
                                            <span class="s1">Evidencia de las obras concluidas</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="new-update clearfix">
                                <div class="span12">
                                    <div class="span4">
                                        <div class="span1 checkCenter1">
                                            <input type="checkbox"/>
                                        </div>
                                        <div class="span10 checkCenter2">
                                            <span class="s1">Evidencias de los Articulos Comprados</span>
                                        </div>
                                    </div>
                                    <div class="span4">
                                        <div class="span1 checkCenter1">
                                            <input type="checkbox"/>
                                        </div>
                                        <div class="span10 checkCenter2">
                                            <span class="s1">Registro de gastos</span>
                                        </div>
                                    </div>
                                    <div class="span4">
                                        <div class="span1 checkCenter1">
                                            <input type="checkbox"/>
                                        </div>
                                        <div class="span10 checkCenter2">
                                            <span class="s1">Resumen de gastos</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="new-update clearfix">
                                <div class="span12">
                                    <div class="span4">
                                        <div class="span1 checkCenter1">
                                            <input type="checkbox"/>
                                        </div>
                                        <div class="span10 checkCenter2">
                                            <span class="s1">Verificación SAT impreso</span>
                                        </div>
                                    </div>
                                    <div class="span4">
                                        <div class="span1 checkCenter1">
                                            <input type="checkbox"/>
                                        </div>
                                        <div class="span10 checkCenter2">
                                            <span class="s1">XML impreso y digital</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Archivo PDF:</label>
                    <div class="controls">
                        <div class="span8" style="display: inline-block;">
                            <input type="file"/>
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Observaciones:</label>
                    <div class="controls">
                        <textarea class="span8"></textarea>
                    </div>
                </div>
                <div class="form-actions">
                    <button class="btn btn-success">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock%}